body {
    border: 20px solid #bdc3c7;
    font-family: "Source Sans Pro";
    width: 60%;
    max-width: 700px;
    margin: 2% auto;
}

.date {
    color: #3498db;
    text-transform: uppercase;
    letter-spacing: 2px;
}

p {
    margin-left: 3%;
    margin-right: 3%;
}

h2 {
    margin: 20px;
    font-weight: 700;
    color: #2c3e50;
}

div p:nth-of-type(2) {
    border-left: 3px solid lightgray;
    padding-left: 10px;
}

div p:last-of-type {
    border-bottom: 2px solid lightgray;
    padding-bottom: 10px;
}
